.teamContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem; /* カード間のスペース */
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 640px) {
  .teamConntaner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .teamConntaner {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.boarderRow:after {
  clear: both;
  content: "";
  display: table;
}
