.teamName {
  text-align: center;
  font-size: 30px;
}

.headerContainer {
  display: flex;
  align-items: center; /* vertically center items */
  gap: 1rem; /* space between logo and links */
  padding: 0.5rem 1rem;
  background-color: #999;
  justify-content: center;
}

.navItems {
  width: 100px;
  height: 40px;
  background: #fff;
  border: 3px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: 30px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
